.App {
  text-align: center;
  font-family: 'Monda', sans-serif;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;  
}

.App-title {
  font-weight: 400;
  color: #0ACC72;
  text-transform: uppercase;
  font-size: 30px;
  word-spacing: 6px;
  margin-bottom: 10px;
}

.App-intro {
  font-size: large;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  stroke-width: 0;
  stroke: #0ACC72;
  fill: #0ACC72;
}
svg {
  display: none;
}